@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #090909;
  color: white;
}

.heading-font {
  font-family: var(--font-bebas);
}

.body-font {
  font-family: var(--font-inter);
}

.section-title {
  font-family: var(--font-bebas);
}

.section-container {
  @apply mx-auto max-w-7xl px-6 lg:px-10;
}


.section-subtitle {
  @apply text-red-500 uppercase tracking-[0.35em] text-sm;
}